.send{
    background-color: var(--bg-blue);
    width: 682px;
    height: 157px;
    border-radius: 27px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input#amount[type=number]::-webkit-inner-spin-button {
    display: none;
}

#amount{
    outline: none;
    border: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
    width: 1ch;
}

#amount,
.currency{
    font-size: 48px;
}

.amount-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.to{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.to > span{
    font-size: 18px;
    font-weight: bold;
}
.to > select{
    width: 110px;
    outline: none;
    border: 1px solid var(--blue);
}

.to > select > option{
    border: 0px 1px 0px 1px solid var(--blue);
}