input{
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px 10px;
    outline: none;
    width: 30%;
}

@media screen and (max-width: 450px){
    input{
        width: 50%;
    }
}

@media screen and (max-width: 280px){
    input{
        width: 70%;
    }
}