.textInput{
    border: 1px solid var(--black);
    padding: 10px 10px;
    outline: none;
    width: 365px;
    height: 47px;
    border-radius: 18px;
}

@media screen and (max-width: 450px){
    .textInput{
        width: 50%;
    }
}

@media screen and (max-width: 280px){
    .textInput{
        width: 70%;
    }
}