.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    height: 60vh;
}

.picture{
    width: 280px;
    height: 280px;
    border-radius: 100%;
    background: var(--gradient);
    color: #fff;
    font-size: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username{
    font-size: 48px;
}

.address{
    font-size: 24px;
}

.balance{
    font-size: 36px;
}