.global.state{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}
.global.state > p{
    font-weight: bold;
}
.global.state.big{
    width: 137px;
}
.global.state.dark > p{
    color: var(--black);
}
.global.state.MINING img{
    animation: mine 1s linear 0.2s infinite normal none;
}
.global.state.WAITING img{
    animation: waiting 2s linear 0.2s infinite normal none;
    margin-right: 10px;
}

@keyframes mine {
    0%{
        transform: rotate(41deg);
    }
    50%{
        transform: rotate(-43deg);
    }
    100%{
        transform: rotate(41deg);
    }
}

@keyframes waiting {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(179deg);
    }
    100%{
        transform: rotate(360deg);
    }
}